@media only screen and (max-width: 500px) {
    iframe{
        width: 100%;
        margin-bottom: 2em
    }
    .videos{
        width: 100%;
        margin: 0;
    }
    .slider{
        width: 100%;
        margin-bottom: 10em;
        margin-top: 18em;
    }

    .header {
        z-index: 2;
        position: fixed;
        top: 0;
        left: 0;
        background-color: black; 
    }


    .fixed {
      position: fixed;
      right: 0;
      width: 100%;
      background-color: black;
    }
    .logo{
        width: 50%;
    }
    .text{
        width: 100%;
        margin-top: 22em;
    }
}

@media only screen and (min-width: 500px) {
    iframe{
        width: 24%;
        height: 640px;
    }
    .videos{
        position: absolute;
        z-index: -1;
        left: 5%;
    }
    .slider{
        width: 320%;
        margin-left: 20%;
    }
    .border {
        border: 1px solid black;
    }

    .header {
        z-index: 2;
        position: fixed;
        top: 0;
        left: 0;
        background-color: black;
        width: 100px; 
    }

    .fixed {
        position: fixed;
        bottom: 0;
        right: 0;
        width: 20%;
        background-color: black;
    }
    .logo{
        width: 80%;
        padding: 10%;
    }
    .text{
        margin-left: 20%;
        padding: 0em 0em ;
        width: 80%;
        height: 100%;
    }
    header.header.border.fixed{
        z-index: 1
    }

}

.nav {
    position: absolute;
}

.border {
    border: 1px solid black;
}


nav a {
    text-decoration: none;
   display: inline-block;
    width:100px;
    font-family: arial;
    color: white;
    padding: 3px;
    }

    a:link{color:white;}
    a:visited{color:darkgray;}
    a:hover{color:lightgray;}
    a:active{color:lightgray;}
    





.align-right{
    text-align: left;
    float: left;
    
}

.align-right a {
    text-decoration: none;
    font-family: Arial;
}
.align-right a:hover{
    color: grey;
}

.slider{ 
    position: relative;
    top:5; 
    
}

.footer{
    z-index: 9;
    background-color: black;
    top: 89%;
    width: 100%;
    position: fixed;

}
.socialColor{
    color: white;
}
.socialList{
    font-size: 1.5em;
    padding: 1em;
    display: inline-block;
}

body{
    background-color: black;
}

.social{
    left: 7%;
    text-align: center;
}
.aboutText{
    line-height: 1.7;
    color: white;
    font-family: arial;
    font-size: 1.5em;
    margin: 0 20%;
    text-align: justify;
}
.text{
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.65) 100%), url('../images/eykbackground.jpg') no-repeat;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(59%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.65))), url('../images/eykbackground.jpg') no-repeat;
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.65) 100%), url('../images/eykbackground.jpg') no-repeat;
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.65) 100%), url('../images/eykbackground.jpg') no-repeat;
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.65) 100%), url('../images/eykbackground.jpg') no-repeat;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.64) 59%, rgba(0, 0, 0, 0) 100%), url('../images/eykbackground.jpg') no-repeat;
    color: white;
    font-family: arial;
    background-size: 100%;
    font-size: 0.8em;
    color: white;
    font-family: arial;
    height: 30em;
}

.about{
    font-family: arial;
    font-size: 3em;
    color: rgba(0, 0, 0, 0.46);
    text-align: left;
    margin-left: 20%;
    color: grey

}